html {
	background: radial-gradient(circle, rgba(172,247,254,1) 0%, rgba(0,169,255,1) 100%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: clamp(960px, 80%, 1280px);
    margin: 20px auto;
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'widget main main main main sidebar';
    gap: 20px;
}

.header {
    grid-area: header;
    text-align: center;
    padding: 20px;
	color: #000;
}

h1 {
    margin-top: 0;
}

h1, .header form label{
    color: #000;
}

label {
	display: block;
	padding:5px;
	font-weight:700;
}

input[type=text] {
	border-radius: 10px;
	border: none;
	padding:5px;
	font-size: 1.5em;
	display: block;
	width:250px;
	margin:20px auto;
}

.header input[type=submit] {
	border-radius: 10px;
	border: none;
	padding:10px 15px;
	font-size: 1em;
}

main {
    grid-area: main;
	background: rgb(255 255 255 / 0.5);
	border-radius: 25px;
	box-shadow:0 0 30px inset rgba(255 255 255 / 0.5);
	padding-bottom: 20px;
}

#today {
    grid-row: 2;
    grid-column: 2 / 5;
    text-align: center;
    padding: 40px;
    margin:20px 0;
}

#today img {
	border-radius: 25px;
}

.currentweather {
    text-align: center;
    padding: 20px;
}

.upcomingweather {
    grid-row: 3;
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 0;
    text-align: center;
}

.upcomingweather article {
	border-top: 2px solid rgba(0 0 0 / 0.05);
}

.upcomingweather strong {
	display: block;
}

.sidebar {
    grid-area: sidebar;
}
.sidebar a {
	color:#000
}
.sidebar ul {
	list-style: none;
	padding:0;
}
.widget {
	grid-area:widget;
	padding:20px;
}